Waiter.xcodeproj/project.xcworkspace/xcuserdata
Waiter.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Waiter.xcodeproj/xcuserdata
Waiter.xcworkspace/contents.xcworkspacedata
Waiter.xcworkspace/xcuserdata
Podfile.lock
.DS_Store
Pods
